<html>
<head>
    <title>OdontoCare - Contato</title>
    <meta name="viewport" content="width=device-width, initial-scale1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/public/css/style.css" rel="stylesheet" />
    <link rel="icon" href="/public/img/logo.svg">
    <link rel="icon" href="/public/img/logo.svg"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
    <section class="main">
        <div class="center">
            <div class="menu">
                <div class="logo-menu">
                    <a href="Home.html"><img class="logo" src="/public/img/logo.svg" /></a>
                </div>
                <!--logo-menu-->
                <div class="itens-menu">
                    <a href="Home.html"><i class="fas fa-home"></i>HOME</a>
                    <a href="quemsomos.html"><i class="far fa-smile-wink"></i>QUEM SOMOS</a>
                    <a href=""><i class="far fa-envelope"></i>CONTATO</a>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Entrar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="beneficiario.html">Beneficiário do Plano</a>  
                                       
                    </div>
                  </div>               
                <!--itens-menu-->
            </div>
            <!--menu-->
        </div><!-- /center -->
    </section><!--main-->

      <section><!--Inicio Formulário de contato-->
        <div class="fm-contat">
          <h2>Formulário de contato</h2>
            <p>Envie uma mensagem para a OdontoCare com sua dúvida,crítica ou  <br> sugestão.</p>
        </div>
      </section><!--Termino da sessão de formulário de contato-->

      <section class="form-contat">
        <div class="pv-linha-formulario">
          <div class="ps-md-mar--top">

              <div class="ps-row psFormMostraPF">
                  <div class="ps-row ps-frm-row ps-md-mar--bottom">
                      <div class="ps-mod6 ps-sm-mod6 ps-frm-row">                          
                          </div>

                      <div class="ps-mod6 ps-sm-mod6 ps-frm-row">
                          <label class="ps-frm-lbl ps-lbl-helper">
                              Assunto
                          </label>

                          <div class="ps-frm-select">
                              <select id="assuntos" name="assuntos" class="ps-frm-valid" data-gtm-form="input">
                                  <option value="">Selecione um assunto</option>
                              </select>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <div class="ps-row">
              <div class="ps-row ps-frm-row ps-md-mar--bottom">
                  <div class="ps-mod12 ps-sm-mod12 ps-frm-row">
                      <label class="ps-frm-lbl">Nome completo</label>
                      <input type="text" name="nome" id="nome" class="ps-frm-entry ps-frm-valid" data-gtm-form="input">
                  </div>
              </div>
          </div>


          <div class="pv-linha-formulario">
              <div class="ps-row">
                  <div class="ps-mod6 ps-sm-mod6 ps-frm-row">
                      <label class="ps-frm-lbl ps-lbl-helper">
                          Estado
                      </label>
                      <div class="ps-frm-select">
                          <select name="estados" id="estados" class="ps-frm-valid" data-gtm-form="input">

                          <option value="AC">AC</option><option value="AL">AL</option><option value="AM">AM</option><option value="AP">AP</option><option value="BA">BA</option><option value="CE">CE</option><option value="DF">DF</option><option value="ES">ES</option><option value="GO">GO</option><option value="MA">MA</option><option value="MG">MG</option><option value="MS">MS</option><option value="MT">MT</option><option value="PA">PA</option><option value="PB">PB</option><option value="PE">PE</option><option value="PI">PI</option><option value="PR">PR</option><option value="RJ">RJ</option><option value="RN">RN</option><option value="RO">RO</option><option value="RR">RR</option><option value="RS">RS</option><option value="SC">SC</option><option value="SE">SE</option><option value="SP">SP</option><option value="TO">TO</option></select>
                      </div>
                  </div>

                  <div class="ps-mod6 ps-sm-mod6 ps-frm-row">
                      <label class="ps-frm-lbl">Cidade</label>
                      <input type="text" name="cidades" id="cidades" class="ps-frm-entry ps-frm-valid ps-frm-cleanup" placeholder="Preencha sua cidade" value="" data-gtm-form="input">
                  </div>
              </div>
              <br class="pv-clr">
          </div>
          <div class="pv-linha-formulario">
              <div class="ps-row">

                  <div class="ps-mod6 ps-sm-mod6 ps-frm-row">
                      <label class="ps-frm-lbl">E-mail</label>
                      <input type="text" id="email" title="E-Mail" name="email" class="ps-frm-entry ps-frm-valid ps-frm-email" data-gtm-form="input">
                  </div>

                  <div class="ps-mod6 ps-sm-mod6 ps-frm-row">
                      <label class="ps-frm-lbl">Confirmar e-mail</label>
                      <input type="text" id="confirmarEmail" title="Confirmar E-Mail" name="confirmarEmail" class="ps-frm-entry ps-frm-valid ps-frm-email" data-gtm-form="input">
                  </div>
              </div>
              <br class="pv-clr">
          </div>

          <div class="pv-linha-formulario">
              <div class="ps-row">

                  <div class="ps-mod6 ps-sm-mod6 ps-frm-row">
                      <label class="ps-frm-lbl">Cliente</label>
                      <input id="clienteSim" type="radio" name="isCliente" value="S" class="ps-frm-radio ps-frm-valid" data-gtm-form="input">
                      <label class="ps-frm-radio" for="clienteSim">
                          Sim
                      </label>
                      <input id="clienteNao" type="radio" name="isCliente" value="N" class="ps-frm-radio ps-frm-valid" data-gtm-form="input">
                      <label class="ps-frm-radio" for="clienteNao">
                          Não
                      </label>
                  </div>
                  <div class="ps-mod6 ps-sm-mod6 ps-frm-row">
                      <label class="ps-frm-lbl">Telefone</label>
                      <input type="text" title="Telefone" name="telefone" id="telefone" class="ps-frm-entry ps-frm-celPhone ps-frm-valid" placeholder="(00) 0.0000.0000" value="" data-gtm-form="input" maxlength="16">
                  </div>
              </div>
              <br class="pv-clr">
          </div>
          <div id="divCpfCnpj" class="pv-col-2de4" style="display:none;">
              <div class="ps-row">

                  <div class="ps-mod6 ps-sm-mod6 ps-frm-row">
                      <label class="ps-frm-lbl">CPF/CNPJ</label>
                      <input type="text" id="cpf_cnpj" title="cpfCnpj" name="cpf_cnpj" class="ps-frm-entry ps-frm-valid ps-frm-cpf" data-gtm-form="input" maxlength="14">
                  </div>					
              </div>
          </div>
          <div class="pv-linha-formulario">
              <div class="ps-mod12 ps-sm-mod12 ps-frm-row">
                  <label class="ps-frm-lbl"><span class="ps-frm-valid"></span>Mensagem</label>
                  <textarea name="mensagem" id="mensagem" class="pv-campo-padrao mensagem-limit cmp-obrigatorio hasMaxLength example" title="Mensagem" rows="5" cols="90" data-gtm-form="input" maxlength="5000"></textarea>
                  
    <div>
                      <span class="maxlength-feedback"></span>
                  </div>
              </div>
              <br class="pv-clr">
              <br class="pv-clr">             
              <br class="pv-clr">
              <br class="pv-clr">
          </div>          

          <div class="pv-linha-formulario">
              <div class="ps-mod12 ps-sm-mod4 ps-sm-alignCenter">
                  <div id="btEnviar" class="pv-bt-default-externo pv-bt-abaixo">
                      <input type="submit" name="enviar" value="Enviar" class="ps-btn ps-btn-primary" data-gtm-form="submit">
                      <input style="display:none" type="reset" id="resetValues">
                  </div>
              </div>
          </div>
      </div>

      </section> 
      


               
<footer class="bg-dark text-center text-white"><!-- Footer -->
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Sessão Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a> 
     

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      
    </section>
    <!-- Sessão Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
         </form>
    </section>
    <!-- Section: Form -->
        
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->                   
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="#">OdontoCare</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</body>

</html>