<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OdontoCare - Minha Conta</title>
    <link rel="icon" href="/public/img/logo.svg">
    <link href="/public/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</head>
<body>
    <section class="main">
        <!--logo-->
        <div class="center">
            <div class="menu">
                <div class="logo-menu">
                    <a href="Home.html"><img class="logo" src="/public/img/logo.svg" /></a>
                </div>
    </section>
    <!--logo-->
    
        <div class="mn-minhacc">
            <p>Bem-Vindo(a) Bruno</p>
            <span>
                <a id="CC-loginHeader-logout" data-original-title="logout"
                 data-bind="widgetLocaleText: {attr: 'innerText', value: 'logoutLinkText'}, 
                 click: $parent['elements']['login-registration'].handleLogout.bind($parent)" href="#">Sair</a>
            </span>
        </div> 
        
        <section class="container">
                <div class="dados-1">
                    </div>
        </section>
</body>
</html>