<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/public/css/style.css" rel="stylesheet" />
    <link rel="icon" href="/public/img/logo.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <title>Plano Gold</title>
</head>

<body>  

        <section class="main">
            <div class="center">
                <div class="menu">
                    <div class="logo-menu">
                        <a href="Home.html"><img class="logo" src="/public/img/logo.svg" /></a>
                    </div>
                    <!--logo-menu-->
                    <div class="itens-menu">
                        <a href="Home.html"><i class="fas fa-home"></i>HOME</a>
                        <a href="quemsomos.html"><i class="far fa-smile-wink"></i>QUEM SOMOS</a>
                        <a href="contato.html"><i class="far fa-envelope"></i>CONTATO</a>
                    </div>

                    <!--Botão entrar-->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Entrar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="beneficiario.html">Beneficiário do Plano</a>
                        </div>
                    </div>
                    <!--fim botão entrar-->
                </div>
                <!--menu-->
            </div><!-- /center -->
        </section>


        <section class="login-redes-socias">
            <div class="identificacao-texto">
                <h2>Identificação</h2>
            </div><br>
            <div class="escolha-social-texto">
                <p>Insira seu e-mail ou CPF</p>
            </div>
    </div>
        
        <form>
            <div class="sessecao-login-gold">
                <label class="email-sessao-gold">Email</label><br>
                <input type="login" id="email"/><br>
                <label>Senha</label><br>
                <input type="password" id="password"/>
            </div>
        </form><br>
        <button class="form-entrar-gold">Entrar</button>   
    </div><br><br>
        <span class="text-form-ct">Não tem conta?</span> <a class="cds-text-form" href="cadastro.html">Cadastra-se</a>
        
        
        </section>
</body>

</html>





</body>

</html>